#bg {
  font-family: "Roboto";
}

img {
  cursor: pointer;
}

body {
  margin: 0;
  padding: 0;
}

.containor {
  /*background-color: #ffcc33;*/
  text-align: center;
  margin-top: 20px;
}


.frist {
  display: inline-block;
  margin-bottom: 20px;
  margin-left: 30px;
  margin-right: 30px;
  max-width: 350px;
}

.second {
  display: inline-block;
  margin-left: 30px;
  margin-right: 30px;
  max-width: 350px;
  /* background-color: green;*/
}

#FT {
  text-align: center;
}

#ST {
  text-align: center;
}

#clear {
  clear: both;
}

#how {
  text-align: center;

}

#what {
  text-align: left;
  margin-left: auto;
  margin-right: auto;
  max-width: 600px;
}

.f {
  color: white;
  background-color: #2a546f;
  padding: 20px;
}

.s {
  padding: 20px;
}

.footer {
  text-align: center;
  padding: 20px;
}
