#bg {
  font-family: "Roboto";
}

body {
  margin: 0;
  padding: 0;
}

.containor {
  width: 100%;
  /*background-color: #ffcc33;*/
  margin: auto;
}


.frist {
  width: 300px;
  float: left;
  height: 300px;
  margin-left: 15%;
}

.second {
  width: 300px;
  float: right;
  height: 300px;
  margin-right: 15%;
  margin-top: 10%;
  /* background-color: green;*/
}

#FT {
  float: left;
  margin-left: 11%;
  text-align: center;
}

#ST {
  text-align: center;
  float: right;
  margin-right: 9%;
}

#clear {
  clear: both;
}

#how {
  text-align: center;
  margin: 0%;
}

#what {
  margin: 0%;
  margin-left: 38.5%;
  text-align: left;
}

.f {
  color: white;
  background-color: #2a546f;
  margin: 0%;
  padding: 0%;
}

.s {
  margin: 0%;
  padding: 0%;
}
